[airmonitor]
sensor_model="{{ pm_sensor_model|upper }}"
sensor_model_temp="{{ temperature_sensor_model|upper }}"
sensor_model_co2="{{ co2_sensor_model|upper }}"
lat="{{ latitude }}"
long="{{ longitude }}"